<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>

  <div class="container">
    <h1>Orders</h1>
    <div class="form-inline">
      <div class="form-group mx-sm-3 mb-2">
        <input id="orderId" placeholder="Enter order id" class="form-control" style="width:400px"/>
      </div>
      <button id="btn" class="btn btn-primary mb-2">Get</button>
    </div>    
    <pre id="out"></pre>
  </div>
  
  <script>
    document.getElementById('btn').onclick = async () => {
      const id = document.getElementById('orderId').value.trim();
      if(!id) return alert('enter id');
      const res = await fetch('/order/' + encodeURIComponent(id));
      const out = document.getElementById('out');
      if (!res.ok) {
        const err = await res.json();
        out.innerText = 'Error: ' + err.error;
        return;
      }
      const json = await res.json();
      out.innerText = JSON.stringify(json, null, 2);
    };
  </script>
  
  </body>
</html>
